.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px)
  }

  100% {
    transform: translateY(0px)
  }
}

.ant-layout {
  background: rgba(0, 242, 245, 0);
  background-color: "none" !important;
  background-image: url(/25928.jpg) !important;
  background-size: 100% 100% !important;
}

.row_grou-user_deactivate {
  color: #8c8c8c;
}

/* 
.ant-table-cell-fix-left {
  background: none !important;
}

.ant-table-column-sort {
  background: none !important;
} */